zig-out
.zig-cache
__pycache__/
*egg-info/
build/
.DS_Store
venv
.elf
.wasm
dist/

# vis: dependencies
vis/node_modules
vis/.pnp
vis/.pnp.js

vis/public/bin
vis/public/dtb

# vis: testing
vis/coverage

# vis: production

# vis: misc
.env.local
.env.development.local
.env.test.local
.env.production.local

# vis: log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

